<div class="container">
    <div>
        {{message}} <a ng-if="resultLink" ng-href="{{resultLink}}">{{resultPage}}</a>
    </div>
    <div class="row">
        <div class="col-md-9">
            <form>
                <div class="form-group">
                    <label>Journal Name *: </label>
                    <input type="text" class="form-control" ng-model="journal.name" required>
                </div>
                <div class="form-group">
                    <label>Description: </label>
                <textarea class="form-control" ng-model="journal.description">
                    </textarea>
                </div>
                <div class="form-group">
                    <label>Themes: </label>
                    <div ng-repeat="theme in journal.themes">
                        <input type="text" class="form-control" ng-model="theme.name">
                        <button class='btn btn-default' ng-click="deleteTheme($index)">delete theme</button>
                    </div>
                    <button class='btn btn-default' ng-click="addTheme()">Add theme</button>
                </div>

                <button class="btn btn-success pull-right" ng-click="save()">Submit
                </button>
            </form>
        </div>
    </div>
</div>