<div class="container">
    <div>
        {{message}} <a ng-if="resultLink" ng-href="{{resultLink}}">{{resultPage}}</a>
    </div>
    <div class="row">
        <div class="col-md-9">
            <form>
                <div class="form-group">
                    <label>Number Name *: </label>
                    <input type="text" class="form-control" ng-model="number.name" required>
                </div>
                <div class="form-group">
                    <label>Description: </label>
                <textarea class="form-control" ng-model="number.description">
                    </textarea>
                </div>
                <div class="form-group">
                    <label>File *: </label>
                    <input type="file" class="form-control" fileread="number.file" required>
                </div>


                <button
                        class="btn btn-success pull-right" type="button" ng-click="save()">Submit
                </button>
            </form>
        </div>
    </div>
</div>