<div class="container journals-list">

    <div class="row top-block">
       <div class="search-box center-block">
            <input ng-model="search" type="text" class="form-control" placeholder="Search..."/>
        </div>
    </div>
    <div class="row" ng-repeat="journal in journals | filter:search">

        <div class="col-md-12">

            <div class="journal-item thumbnail">
                <div class="caption-full">
                    <h3><a ng-href="{{absUrl + '/' + journal.id}}">{{journal.name}}</a>
                    </h3>
                    <p class="journal-description">{{journal.description}}</p>
                </div>
                <div class="themes" ng-if="journal.themes && journal.themes.length > 0">
                    <label>Themes: </label>
                    <a ng-repeat="theme in journal.themes"
                       class="theme"
                       ng-href="{{absUrl + '/?themes=' + theme.id}}">{{theme.name}}</a>
                </div>
            </div>

        </div>

    </div>

</div>