<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">

            <div class="top-block">
                <div class="pull-right">
                    <a sec:authorize="hasRole('ROLE_PUBLISHER')"
                       class="btn btn-success" type="button" ng-href="{{absUrl+'/add'}}">Add Number</a>
                    <a sec:authorize="hasRole('ROLE_PUBLISHER')"
                       class="btn btn-default " type="button" ng-href="{{absUrl+'/edit'}}">Edit</a>
                </div>
                <button ng-if="!activeJournal.subscribed" class="btn btn-success pull-right subscribe-button"
                        type="button"
                        ng-click="subscribe()">Subscribe
                </button>
                <button ng-if="activeJournal.subscribed" class="btn btn-default pull-right subscribe-button"
                        type="button"
                        ng-click="unsubscribe()">Unsubscribe
                </button>
                <h2>{{activeJournal.name}}</h2>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Journals subscribed for:</p>
            <div class="list-group">
                <a class="list-group-item"
                   ng-repeat="journal in subscribedJournals | orderBy: 'name'"
                   ng-href="{{journalsUrl + journal.id}}"
                   ng-class="{'active' : activeJournal.id == journal.id}">{{journal.name}}</a>
            </div>
        </div>

        <div class="col-md-9 numbers-list">

            <div ng-if="!numbers || numbers.length == 0">
                No numbers added yet
            </div>
            <div class="thumbnail" ng-repeat="number in numbers" ng-if="activeJournal.subscribed">
                <div class="caption-full">
                    <h4>{{number.name}}</h4>
                    <p>{{number.description}}</p>
                </div>
                <hr>


                <div class="publish-date pull-right">
                    Published at {{ number.published | localedate }}
                </div>
                <div class="download-link">
                    <a href="/api/journals/{{activeJournal.id + '/numbers/' + number.id}}/file">
                        Download .pdf ({{number.fileSize | filesize}})</a>
                </div>

            </div>

        </div>

    </div>

</div>
