
body {
    background-color: #EFEFEF;
}

.thumbnail {
    padding: 20px;
}

.numbers-list {
    border-left: 1px solid #333;
}

.top-block {
    margin-bottom: 20px;
}

.subscribe-button {
    margin-right: 20px;
}

.search-box {
    max-width: 744px;
    text-align: center;
}

.theme {
    margin: 3px;
    padding: 2px;
    background-color: #EFEFEF;
}

.ng-invalid.ng-touched {
    background-color: #f2dede;
}